.container {
    padding-top: 30px;
}

.roomle-item {
    /*position: relative;*/
    height: 150px;
    background-color: cornflowerblue;
    margin-bottom: 30px;
    line-height: 150px;
    font-weight: bold;
    text-align: center;
    color: white;
}
